body {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.25rem;
    border-top: 1em solid #b31b1b;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 50em;
    text-align: left;
}

#site-header {
    text-align: center;
    font-size: 1.75em;
    margin: 1em auto;
}

#site-header a:link, #site-header a:visited, #site-header a:active {
    color: inherit;
    text-decoration: none;
}

#site-header a:hover {
    text-decoration: underline;
}

#page-content {
    padding: 0 0 1em;
}

#site-footer {
    background: #073949;
    color: #d8d2c9;
    width: 100%;
    text-align: center;
    padding: 2em 0;
}

#site-footer .container {
    max-width: 35em;
}

#site-footer a {
    color: #FFF;
}

/** General Styles **/

header, h1, h2, h3, h4, h5, h6 {
    font-family: gentium-basic, serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.entry-title {
    display: block;
    margin: 0 auto;
    max-width: 50rem;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: normal;
    border-bottom: 1px solid #222;
    padding: 0.25em 0.75em 0.25em 0;
    white-space: nowrap;
}

tr:nth-child(2n) {
    background: #d8d2c9;
}

td {
    vertical-align: top;
    padding: 0.25em 0.75em 0.25em 0;
}

/** Utility Styles **/

.sc {
    font-variant-caps: small-caps;
    font-feature-settings: 'smcp';
}

/** Mobile versions **/

@media (max-device-width: 640px) {
    #site-header {
        font-size: 1.5em;
        margin: 0.5em auto;
    }

    h1 {
        font-size: 1.75em;
    }

    .container {
        padding: 0.5em;
    }

    table.past-offerings thead {
        display: none;
    }
    table.past-offerings tr {
        background: none;
        border-bottom: 1px solid #222;
    }
    table.past-offerings td {
        display: block;
    }

    table.past-offerings td:before {
        font-weight: bold;
        display: block;
    }

    table.past-offerings td:nth-child(1):before {
        content: "Semester";
    }
    table.past-offerings td:nth-child(2):before {
        content: "Time";
    }
    table.past-offerings td:nth-child(3):before {
        content: "Instructor";
    }
    table.past-offerings td:nth-child(4):before {
        content: "Median Grade";
    }
}

@media (min-device-width: 481px) and (max-device-width: 768px) {
    .container {
        padding: 1em;
    }
}
