body {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.25rem;
    border-top: 1em solid #b31b1b;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 50em;
    text-align: left;
}

#site-header {
    text-align: center;
    font-size: 1.75em;
    margin: 1em auto;
}

#page-content {
    padding: 0 0 1em;
}

#site-footer {
    background: #073949;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 2em 0;
}

#site-footer a {
    color: #FFF;
}

/** General Styles **/

header, h1, h2, h3, h4, h5, h6 {
    font-family: gentium-basic, serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.entry-title {
    display: block;
    margin: 0 auto;
    max-width: 50rem;
}

/** Utility Styles **/

.sc {
    font-feature-settings: 'smcp';
}

/** Mobile versions **/

@media (max-device-width: 640px) {
    #site-header {
        font-size: 1.5em;
        margin: 0.5em auto;
    }

    h1 {
        font-size: 1.75em;
    }

    .container {
        padding: 0.5em;
    }
}

@media (min-device-width: 481px) and (max-device-width: 768px) {
    .container {
        padding: 1em;
    }
}
